body {
    overflow-x: hidden;
}

.container {
    position: relative;
    /* border: 1px solid red; */
}

.slider-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    /* border: 1px solid red; */
    height: 38em;
    z-index: 10;
    display: inline-flex;
    cursor: grab;
    transform: translateX(0);
    transition: all 0.3s ease-out;
}

.slider {
    height: 35em;
    min-width: 100%;
    position: relative;
    z-index: 9;
    transition: transform 0.3s ease-in-out;
}

.slider-image {
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.slider-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.225), rgba(10, 10, 10, 1.9));
}

.slider-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.slider-text {
    position: absolute;
    z-index: 8;
    bottom: 6%;
    left: 2.5%;
}

.slider-text .heroTitle {
    font-size: 4.2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.desc-container {
    max-width: 40em;
    /* border: 2px solid red; */
}

.desc {
    font-weight: lighter;
    font-size: 1.15em;
    font-style: italic;
}

.title {
    padding: 0.8em 0;
}

.watch-now-btn {
    margin-top: 3.8em;
    padding: 1em 1.8em;
    border-radius: 5em;
    color: white;
    background: red;
    outline: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.watch-now-btn:hover {}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 3.8em;
    height: 0.2em;
    border-radius: 2em;
    background-color: #999;
    margin: 10px 5px;
    cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #fff;
}




/* slider for categories--------------------- */
.Category_Section {
    margin-top: 3em;
}


.cat-title {
    font-size: 3em;
    font-weight: 600;
    text-transform: capitalize;
}

.cat-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.slider-box {
    width: 15em;
    height: 23em;
    background: #0a0a0a;
    margin-top: 1.6rem;
    margin-left: 0.2rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #0e0e0ec2;
    position: relative;
}

.slider-img {
    width: 100%;
    height: 100%;
}

.slider-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.95;
}

.cat-slider-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #161616b9 5%, rgba(73, 73, 73, 0.05) 95%);
}

.cat-slider-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(27, 27, 27, 0.6);
    color: #fff;
    z-index: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.cat-info-container {
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

.cat-slider-overlay .cat-playBTN {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 10%;
    left: 5%;
    width: 4rem;
    height: 4rem;
}

.overlay-text {
    /* border: 1px solid red; */
    position: absolute;
    width: 92%;
    height: auto;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    /* margin-top: 3.8em; */
}

.overlay-text span {
    font-size: 1.43rem;
    font-weight: 600;
    /* border: 1px solid blue; */
}

.overlay-text em {
    font-style: italic;
    font-weight: 200;
    font-size: 0.9rem;
    transform: translateX(-50%);
    /* border: 1px solid red; */
}

.slider-box:hover .cat-slider-overlay {
    z-index: 2;
    opacity: 1;
    transition: 0.3s ease;
}


.more-options-dot {
    position: absolute;
    width: 100%;
    height: 2.5em;
    top: 0;
    left: 0;
    margin-top: 0.5em;
    /* border: 1px solid red; */
}

.select-menu {
    position: relative;
    width: 100%;
}

.select-btn {
    position: absolute;
    top: 0.5em;
    right: 1em;
    width: 1em;
    height: 1em;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.sBtn-text {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.select-menu.active3 .select-btn img {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: absolute;
    right: 0;
    margin-top: 2em;
    border-radius: 8px;
    background: #2b2b2b;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-menu.active3 .options {
    display: block;
}

.options .option {
    display: flex;
    width: 100%;
    height: 55px;
    cursor: pointer;
    align-items: center;
    background: transparent;
    border-radius: 8px;
    padding: 35px;
    /* border: 1px solid red; */
}

.options .option:hover {
    background: #0e0e0e;
}

.option a {
    text-decoration: none;
    color: white;
}





/* continue-watching-cat------------ */

.Continue_Watching_Container {
    /* border: 1px solid blue; */
    margin-top: 5em;
}

.category-text {
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

.CW-Swipper-container {
    width: 33em;
    height: 19em;
    /* border-radius: 2rem; */
    margin-top: 1.6rem;
    margin: 0 0.5rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    /* border: 1px solid red; */
}

.CW-slider-box {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background: #2d2d2d;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.progressBar {
    display: block;
    min-height: 0.5em;
    border-radius: 20em;
    position: absolute;
    bottom: 0%;
    overflow: hidden;
    background-color: red;
    z-index: 4;
    /* border-radius: 1px solid red; */
}

.NO_progressBar {
    display: block;
    min-height: 0.5em;
    border-radius: 20em;
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    background-color: rgb(74, 74, 74);
    /* border-radius: 1px solid red; */
}

.CW-slider-img {
    /* border-radius: 2rem; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.CW-slider-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.CV-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.08);
    z-index: 1;
}

.CW-slider-overlay {
    position: absolute;
    width: 100%;
    height: 97%;
    top: 0;
    left: 0;
    background-color: rgba(27, 27, 27, 0.6);
    color: #fff;
    z-index: 0;
    opacity: 0;
    /* border-radius: 2em; */
    transition: all 0.5s ease-in-out;
}

.CW-Swipper-container:hover .CW-slider-overlay {
    z-index: 3;
    opacity: 1;
    transition: 0.3s ease;
}

.CW-container {
    width: 100%;
    height: 100%;
    position: relative;
    /* border: 5px solid green; */
}

.CW-playBTN {
    position: absolute;
    bottom: 16%;
    left: 6%;
    width: 4.5em;
    height: auto;
}

.CW-text {
    position: absolute;
    width: 92%;
    height: auto;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.CW-text span {
    font-size: xx-large;
    font-weight: 600;
}

.CW-text em {
    font-style: italic;
    font-weight: 200;
    font-size: 0.9rem;
    transform: translateX(-50%);
}

.CW-removeBTN {
    position: absolute;
    top: 8%;
    right: 3%;
    width: 2.8em;
    height: auto;
}

.CW-statusNULL {
    font-size: 10.5;
    font-weight: 200;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6em 3em;

}

@media screen and (max-width: 945px) {
    .slider-text .heroTitle {
        font-size: 3.5em;
    }
}


@media screen and (max-width: 560px) {
    .slider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .slider-text .heroTitle {
        font-size: 2em;
    }


    .slider-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 92%;
        /* border: 2px solid red; */
    }

    .title {
        text-align: center;
    }

    .swiper-pagination {
        display: none;
    }


    .CW-Swipper-container {
        width: 23em;
        height: 13em;
    }

    .CW-playBTN {
        width: 2.4em;
    }

    .CW-removeBTN {
        width: 1.8em;
    }

    .CW-text span {
        font-size: x-large;
    }

    .navigation {
        width: 90%;
    }

}