.Master-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: left;
    border: 1px solid red;
    width: 35%;
    max-width: 35rem;
}

#category-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    width: 75%;
    margin: auto;
}