.movie-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.filter-BTN {
    width: 3em;
    height: 3em;
    position: relative;
    /* overflow: hidden; */
    background-color: transparent;
    margin-top: 3em;
    border: none;
}

.filter-BTN img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border: 2px solid green; */
}

.post-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
    /* gap: 1.5em; */
    justify-items: center;
}

#SB {
    width: 13em;
    height: 19em;
}


.post-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #0e0e0ec2;
}

.post-box .post-imgbox {
    width: 100%;
    height: 100%;
}

.filter-form {
    display: none;
}

.filter-form.showForm {
    display: flex;
    align-items: last baseline;
    justify-content: flex-start;
    gap: 1em;
    width: 100%;
    height: auto;
}

.filter-logo {
    margin-top: 1em;
    background: rgb(60, 60, 60);
    text-align: center;
    font-size: 0.8em;
    padding: 0.5em 0.8em;
    border-radius: 50em;
}

.genre-filter {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    /* border: 1px solid red; */
    margin-top: 3em;
}

.genre {
    padding: 8px 16px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50em;
    background-color: #292929;
}

.genre:hover {
    background-color: #ff0000;
    color: #fff;
    border: none;
}

.reset:hover {
    background-color: #ff0000;
    color: #fff;
    border: none;
}

.reset {
    padding: 8px 16px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50em;
    background-color: #292929;
}

.genre.active {
    background-color: #ff0000;
    color: #fff;
    border: none;
}

@media screen and (max-width:560px) {
    #SB {
        width: 10em;
        height: 15em;
    }
}

@media screen and (max-width:406px) {
    #SB {
        width: 13em;
        height: 19em;
    }
}