#myvideo {
    width: 100%;
    height: 100%;
}

.video-container {
    width: 100%;
    height: 100%;
    /* float: inline-end; */
    /* left: 1em; */
    /* position: relative; */
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}

.section1 {
    max-width: 100%;
    height: 35em;
}

.section-videoContainer {
    max-width: 100%;
}

.video-description {
    /* border: 2px solid green; */
    display: flex;
    max-width: 100%;
    gap: 1.8em;
    row-gap: 5em;
    margin-top: 2rem;
}

.desc-imgbox {
    width: 45em;

}

.videodesc-text-container {
    max-width: 100%;
    height: 100%;
}

.desc-imgbox img {
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.videoDesc-icons {
    display: flex;
    gap: 0.5em;
}

.desc-logo {
    margin-top: 1em;
    background: rgb(60, 60, 60);
    text-align: center;
    font-size: 0.8em;
    padding: 0.5em 0.8em;
    border-radius: 0.5em;
}

.overview {
    margin-top: 2em;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.overview-desc {
    font-size: 1.1em;
    text-align: justify;
    margin-top: 1.2em;
    font-weight: 100;
}


.featured-title {
    font-size: 2.7em;
    font-weight: 700;
    margin-bottom: 5em;
}

.section-featured {
    padding: 0.5em 0em;
    margin: 0 2em;
    /* border: 1px solid blue; */
    margin-top: 1.5em;
    width: 50em;
}

.feature-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.feature-link {
    width: 100%;
    margin-bottom: 0.1em;
    /* background-color: #212121; */
}

.feature-items {
    /* padding: 1em 1.5em; */
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 0.8em;
    width: 100%;
    cursor: pointer;
}

.feature-items:hover {
    background: #212121;
}

.feature-img-container {
    width: 25%;
    height: 8em;
    position: relative;
    overflow: hidden;
}

.feature-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: center; */
}

.BIG-CONTAINER {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3em;
}

.feature-link {
    text-decoration: none;
    color: white;
}

.feature-text {
    font-size: larger;
    /* display: flex;
    flex-wrap: wrap; */
    width: 75%;
}

@media screen and (max-width:1225px) {
    .BIG-CONTAINER {
        flex-wrap: wrap;
    }

    .section-featured {
        width: 100%;
        margin: 0;
        margin-top: 4em;
    }

    .feature-img-container {
        max-width: 6em;
    }
}

@media screen and (max-width:955px) {
    .desc-imgbox {
        display: none;
    }

    .featured-title {
        font-size: 1.3em;
    }

    .section1 {
        height: 25em;
    }

    .feature-img-container {
        max-width: 6em;
    }

}

@media screen and (max-width:500px) {
    .section1 {
        height: 18em;
    }


}